.anchor {
  width: var(--anchor-width);
  display: flex;
  flex-direction: column;
  gap: var(--anchor-line-gap);
  color: #fff;
}

.anchor-block-title {
  height: var(--anchor-line-height);
  background-color: #dc6;
  position: relative;
}

.anchor-value {
}

.anchor-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--anchor-line-height);
  position: relative;
}

.anchor-value-item {
  background-color: #cd6;
}

.anchor-ref-item {
  background-color: rgb(102, 221, 108);
}

.anchor-label {
}
